html {
  font-size: 18px;
}

.reactHotToast > div[role='status'] {
  padding: 0.4rem 0.25rem 0.4rem !important;
}

.mantine-Fieldset-root {
}

.hide-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
.hide-desktop {
  @media (min-width: 768px) {
    display: none;
  }
}

.page-height {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.page-width {
  width: calc(100% - 2rem);
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem 0;
}
.page-width-full {
  @apply page-width;
  max-width: calc(100% - 2rem);
}
.page-border-top {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
