.container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.content {
  min-height: 100vh;
  width: calc(100% - 2rem);
  max-width: 780px;
  margin: 0 auto;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
  &[data-width='full'] {
    max-width: calc(100% - 2rem);
  }
}
