.centerVerticalContainer {
  height: 100vh;
  padding-right: 100px;
}
.histogramContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 336px;
}
.bar {
  position: relative;
  height: 12px;
  font-size: 12px;
  padding: 0 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &[data-side='oracle'] {
    background-color: transparent;
    color: yellow;
  }
  &[data-side='ask'] {
    background-color: red;
  }
  &[data-side='bid'] {
    background-color: green;
  }
}
