.Wrapper {
  select,
  input,
  button {
    text-align: left;
  }
}

.Chart {
  position: relative;
  z-index: 1;
}

.Header {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ChartTitleWrapperAbsolute {
  position: absolute;
  right: 0;
  // top: 0;
  bottom: 60px;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
  user-select: none;
}
.ChartTitleInnerFixed {
  z-index: 100;
  position: fixed;
  left: 0;
  width: 100vw;
}
