/* Can't change REM until every width/padding/top uses rem */
/* html {
  font-size: 30px !important;
  line-height: 1.4 !important;
} */

body {
  transform: scale(0.5);
  transform-origin: top left;
  width: 200%;
  height: 200%;
  overflow: hidden; // Prevent scrollbars from creating gaps on full-screen charts
  --mantine-color-text: #C3BCDB;
  background-color: #1a1a2e;
}
.scale2x {
  transform: scale(2);
  transform-origin: top left;
}
.mantine-MultiSelect-options {
  @media (pointer: fine) {
    --mantine-scale: 2;
    max-height: auto !important;
  }
}

/* .mantine-MultiSelect-options > div,
.mantine-MultiSelect-options > div > div,
.mantine-MultiSelect-options > div > div > div,
.mantine-ScrollArea-root,
.mantine-ScrollArea-viewport {
  max-height: auto !important;
} */

.mantine-Combobox-dropdown [role='group'],
.mantine-Combobox-dropdown [role='group'] [role='group'] {
  display: block;
  padding: 0 1rem 0.5rem 0.25rem;
}
