.DrawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1500;
}
.DrawerContent {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 1500;
  background-color: #1e222d;
}
.DrawerX {
  position: absolute;
  padding: 10px;
  color: #cccccc;
  background: #1e222d;
  transform: scale(1.36, 1);
}
